:root {
    color-scheme: dark;
}

body {
    background-image:url('images/SiteAssets/Background/gradient_v3_light.png');
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;
    min-height:100vh;
    max-width:100vw;
    margin:0px;
    padding:0px;
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
    color: whitesmoke;
    z-index: 2;
}

p {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

a {
    text-decoration-thickness: 5%;
}

a:hover {
    color: #9e9eff
}

h2 {
    text-indent:5px;
    font-size: 34px;
    padding-left:5px;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h5 {
    padding-top:0px;
    padding-bottom:0px;
    font-weight: normal;
    font-size: 16px;
    text-indent:5px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

center {
    padding-left: 0px;
    margin-left: 0px;
    text-indent: 0px;
}


/* Structural classes*/
.flex {
    display:flex;
    overflow: hidden;
}

.left {
    width: 645px;
    flex-grow: 1;
    overflow: hidden;
}

.right {
    flex-grow: 1;
    border-left: 5px solid #1f0042;
    width: 200px;
    max-width:200px;
    overflow:hidden;
    /* height: auto; */
}


/* Specific classes for specific areas*/
.upper_navbar_element {
    flex-grow: 10;
    background-color: #453075;

    color: whitesmoke;
    font-family: 'Hanken Grotesk';
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.upper_navbar_element:hover {
    background-color: #322357;
    color: lightgray;
}

.selected_upper_navbar_element {
    flex-grow: 10;
    background-color: #1f0042;

    color: whitesmoke;
    font-family: 'Hanken Grotesk';
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.upper_navbar_spacer {
    width: 5px;
    height: 40px;
    background-color: #1f0042;
}


.news_feed_entry {
    border: 12px solid #1f0042;
    /* border-radius: 10px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 14px;
    height: auto;
    background-color: #322357;
    text-indent:10px;
    font-size: 34px;
}

.news_feed_entry_divider {
    border-top: 5px dashed #1f0042;
}

.news_feed_entry_end {
    margin-top: 12px;
    text-indent: 5px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    line-height: 12px;
}

.blog_feed_entry {
    border: 12px solid #1f0042;
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 14px;
    background-color: #322357;
    text-indent:10px;
    font-size: 30px;
    flex-direction: row;
}

.blog_feed_entry_content {
    display:flex;
    justify-content: space-between;
    text-indent: 0px;
    padding-left: 10px;
    margin-top: 4px;
    flex-direction: column;
    flex-grow: 1;
}

.blog_feed_entry_image_as_text_left_margin {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:10px;
}


.blog_feed_entry_image_as_text {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:2px;
}

.blog_feed_entry_link {
    text-indent:5px;
    font-size: 34px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-decoration-skip-ink: none;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10px;
    border-right: 5px dashed #1f0042;
    min-width: 145px;
    text-align: center;
    line-break: anywhere;
    max-width:145px;
}
.blog_feed_entry_link:visited {
    color: #9e9eff
}

.blog_feed_entry_end_cont {
    /* line-height: 88px; */
    text-indent: 5px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align:right;
    vertical-align:bottom;
    height:min-content;
    margin-block-end: 0em;
}

.blog_entry {
    border: 12px solid #1f0042;
    /* border-radius: 10px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    background-color: #322357;
    text-indent:10px;
    font-size: 34px;
}

.caption {
    margin-top: 0px;
}

.generic_vertical_spacer {
    height:10px;
    width:auto;
}

.project_container {
    height:240px;
    width:225px;
    border: 12px solid #1f0042;
    background-color: #322357;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
    padding:0px;
    text-indent:0px;
}

.project_page_spacer {
    height:auto;
    width:21.5px;
}

.project_thumbnail {
    width: 200px;
    margin-top: 12.5px;
    margin-bottom: 2px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    text-indent: 0px;
}

.project_title {
    padding: 0px ;
    text-indent: 0px;
    padding-left:auto;
    padding-right:auto;
    font-size: 22px;
}

.project_description {
    padding: 5px ;
    text-indent: 0px;
    padding-left:auto;
    padding-right:auto;
    font-size: 16px;
    color:lightgray;
}

.featured_container {
    height:auto;
    width:170px;
    border: 5px solid #1f0042;
    background-color: #322357;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 14px;
    padding:0px;
    text-indent:0px;
}

.featured_thumbnail {
    width: 160px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Unique IDs for the main sections */
#the_header {
    height: 120px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border: 13px solid #1f0042;
    border-bottom: 0px;
    /* border-radius: 50px; */
    /* background-color: whitesmoke; */
}

#the_navbar {
    position: relative;
    height: 40px;
    width: 850px;
    max-width:850px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f0042;
    border: 13px solid #1f0042;
    border-top: 5px solid #1f0042;
    border-bottom: 5px solid #1f0042;
    overflow:visible;
}

#the_body {
    height: auto;
    width: 850px;
    margin: auto;
    border: 13px solid #1f0042;
    border-top: 0px;
    border-bottom: 0px;
    background-color: rgba(20, 8, 40, 1);

}

#the_footer {
    position:relative;
    height: 100px;
    width: 846px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 13px solid #1f0042;
    border-top: 5px solid #1f0042;
    background-color: rgba(20, 8, 40, 1);

    text-align: right;
    font-size: 12px;
    color: whitesmoke;
}

/* All the rest of the Unique IDs*/
/* Important shit, on most pages*/
#zugerujknet_title {
    font-size: 60px;
    line-height: 120px;
    text-indent: 15px;
    background-color: rgba(20, 8, 40, 0.82);
    color: whitesmoke
}

#header_right_secret {
    background-image: url("images/Splashes/SplashSecret.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_00 {
    background-image: url("images/Splashes/Splash00.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_01 {
    background-image: url("images/Splashes/Splash01.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_02 {
    background-image: url("images/Splashes/Splash02.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_03 {
    background-image: url("images/Splashes/Splash03.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_04 {
    background-image: url("images/Splashes/Splash04.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_05 {
    background-image: url("images/Splashes/Splash05.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_06 {
    background-image: url("images/Splashes/Splash06.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat: no-repeat;
}

#header_right_07 {
    background-image: url("images/Splashes/Splash07.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat:no-repeat
}

#header_right_08 {
    background-image: url("images/Splashes/Splash08.png");
    background-color: rgba(20, 8, 40, 1);
    background-repeat:no-repeat
}

#body_left {
    flex-direction: column;
    font-size: 16px;
    color: whitesmoke;
    text-indent:3px;
}

#body_right {
    flex-direction: column;
    font-size: 16px;
    color: whitesmoke;
}

@keyframes triangles_animation {
    from {transform: rotate(30deg);}
    to {transform: rotate(30deg) translate(302px);}
}

#background_triangles_container {
    position:absolute;
    overflow:hidden;
    height:100%;
    width:100%;
    top:0;
    z-index: -2;
}

#background_triangles {
    content: "";
    position:absolute;
    width:320%;
    height:250%;
    top:-100%;
    left:-100%;
    z-index: -2;
    background: url(images/SiteAssets/Background/triangles_v1_light.png) 0 0 repeat;
    transform: rotate(30deg);
    animation-name: triangles_animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#background_triangles_overlay {
    position:absolute;
    overflow:hidden;
    height:100%;
    width:100%;
    top:0;
    z-index: -1;
    background-image:url('images/SiteAssets/Background/gradient_v3_light_overlay.png');
    opacity: 1;
    background-repeat:no-repeat;
    background-size:100% 100%;
    mix-blend-mode: hue;
}

/*Less important stuff*/
#newsfeed_archive_link {
    font-size: 12px;
    text-align: right;
    text-indent: 3px;
    width:auto;
    margin-left:auto;
}

#fuster_closed {
    position: absolute;
    height: 50px;
    top: -5px;
    left: 880px;
    width: 50px;
    background-image:url('images/SiteAssets/Fuster/Fuster\ Idle.gif');
    cursor:pointer;
}

#fuster_open {
    position: absolute;
    height: auto;
    width:max-content;
    min-width: 50px;
    max-width: 250px;
    top: -18px;
    left: 867px;
    background-image:none;
    background-color: rgba(20, 8, 40, 1);
    border: 13px solid #1f0042;
    overflow:hidden;
    cursor:pointer;
}

#fuster_image {
    height:50px;
    width:50px;
    background-image:url('images/SiteAssets/Fuster/Fuster\ Open.gif');
}

#fuster_dialogue {
    margin-top: 0px;
    font-size: 16px;
    padding-right:5px;
}